<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzh.tilas.Mapper.EmployeeMapper">

    <!-- 结果映射 映射规则，映射 java 实体类 Employee 的属性和数据库表 emp的字段
    这样即使不一致也能正常接收SQL查询结果封装为Employee类-->
    <resultMap id="EmployeeResultMap" type="Employee">
        <id property="id" column="id"/>
        <result property="entryDate" column="entry_date"/>
        <result property="jobId" column="job_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!-- 添加员工 -->
    <insert id="insert" parameterType="Employee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO emp (
            username, password, name, gender, avatar, dept_id, job_id, salary, entry_date, create_time, update_time
        ) VALUES (
                     #{username}, #{password}, #{name}, #{gender}, #{avatar}, #{deptId}, #{jobId}, #{salary}, #{entryDate}, NOW(), NOW()
                 )
    </insert>

    <!-- 根据ID删除员工 -->
    <delete id="deleteById" parameterType="Integer">
        DELETE FROM emp WHERE id = #{id}
    </delete>

    <!-- 更新员工信息 -->
    <update id="update" parameterType="Employee">
        UPDATE emp
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="jobId != null">job_id = #{jobId},</if>
            <if test="salary != null">salary = #{salary},</if>
            <if test="entryDate != null">entry_date = #{entryDate},</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据ID查询员工 -->
    <select id="getById" parameterType="Integer" resultMap="EmployeeResultMap">
        SELECT * FROM emp WHERE id = #{id}
    </select>
    <!-- 根据员工名称查询员工-->
    <select id="getByName" parameterType="Employee" resultMap="EmployeeResultMap">
        SELECT * FROM emp WHERE name = #{name}
    </select>



    <!-- 查询所有员工 -->
    <select id="list" resultMap="EmployeeResultMap">
        SELECT * FROM emp ORDER BY create_time DESC
    </select>

    <!-- 根据部门ID查询员工 -->
    <select id="listByDeptId" parameterType="Integer" resultMap="EmployeeResultMap">
        SELECT * FROM emp WHERE dept_id = #{deptId} ORDER BY create_time DESC
    </select>

</mapper>